html {
	height: 100%;
	width: 100%;
	font-size: 16px;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #000;
	color: #ccc;

	font-family: "Lato", "Helvetica Neue", "Hevetcia", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;	
}

a {
	color: #08d5e7;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h1 {
	color: #13daec;
	font-size: 1.6em;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 24px;
	z-index: 50;
}


#main {
	width: 100%;
	height: 100%;
	min-height: 650px;
}


#ui {
	position: absolute;
	width: 178px;
	top: 0;
	bottom: 0;	

	background: rgba(8,8,8,.90);
	padding: 0 16px;
	z-index: 10;
	border-right: 1px solid #666;
	/*box-shadow: inset -10px 0 5px -5px hsla(0,0%,0%,.45);*/
}

div.image {
	box-sizing: border-box;	
	position: relative;
	background: rgba(0,0,0,.35);
	border: 1px solid #333;
	width: 100%;
	text-align: center;
	padding: 8px;
	line-height: 0;
}

#original, #kmeans {
	height: 90px;
	width: 160px;
	max-height: 90px;	
	max-width: 160px;
}

#webcam {
	display: none;
}

#webcamFeed {

	max-width: 320px;
	border: 1px solid #333;
}

#samples {
	display: none;
	width: 532px;
}

#samples img {
	cursor: pointer;
	margin: 0;
	padding: 0;
	float:left;
	margin: 4px;
	border: 1px solid #333;
	opacity: .55;
}

#samples img:hover {
	opacity: 1.0;
}

label {
	margin:0;
	font-size: .65em;
	text-transform: uppercase;
	color: #999;
}

.panel label {
	display: block;
	font-size: .85em;
	margin-bottom: 8px;
}

.button {
	box-sizing: border-box;
	color: #999;
	display: block;
	background: rgba(0,0,0,.55);	
	border: 1px solid #333;	
	text-align: left;
	font-size: .75em;
	margin-bottom: 4px;
	cursor: pointer;
	padding-left: 20%;
	text-transform: uppercase;
}

.enabled i {
	color: #00C2DA;
}

.button:hover, .enabled:hover i {
	background: #00C2DA;
	color: #000;
}

.button:active, .enabled:active i {
	background: #fff;
	color: #000;
}

#footer {
	width: 178px;
	position: absolute;
	bottom: 24px;
	font-size: .65em;
	text-transform: uppercase;
	text-align: center;
	color: #666;
	z-index: -10;
}

#footer a {
	color: #666;
}

#render {
	position: fixed;
	background: #000;
	top: 0;
	right: 0;
	left: 211px;
	bottom: 0;
	z-index: 0;
	min-width: 640px;
}

#render.full {
	left: 0;
	z-index: 20;
}

#showControls {
	position: absolute;
	left: 12px;
	bottom: 12px;
	font-size: 2em;
	color: rgba(48,48,48,.50);
	cursor:pointer;
	display: none;
}

#showControls:hover{
	color: #00C2DA;
}

#showControls:active {
	color: #fff;
}

#render.full #showControls {
	display: block;
}

div.panel {
	display: none;
	position: absolute;
	background: rgba(8,8,8,.90);
	padding: 24px;
	border: 1px solid #666;	
	font-size:1em;	
	z-index: 30;
}

div.panel span {
	text-transform: uppercase;
	font-size: .85em;
}

.close {
	position:absolute;
	cursor:pointer;
	right:-4px;
	top:-4px;
	background: url('../assets/close.png');
	width: 32px;
	height: 32px;
}

#info {
	display: none;
	width: 430px;
}

#chooseImage {
	display: none;
	width: 256px;
}

#error {
	box-sizing: border-box;
	text-align: center;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -36px;
}
