html {
	height: 100%;
	width: 100%;
	font-size: 16px;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #111;
	color: #ccc;

	font-family: "Lato", "Helvetica Neue", "Hevetcia", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;	
}

a {
	color: #08d5e7;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h1 {
	color: #13daec;
	font-size: 1.6em;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 24px;
	z-index: 50;
}


#main {
	width: 100%;
	height: 100%;
	min-height: 650px;
}

/*
#controlBox {
  position: fixed;
  bottom: -1px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}


#controls {
	display: inline-block;
	font-size: 1.5em;
	color: rgba(128,128,128,.90);
	background: rgba(0,0,0,.75);
	padding: .5em;
	border: 1px solid #666;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.controlButton {
	cursor: pointer;
	margin: 0 .5em;	
	display: inline-block;
}

.controlButton i:hover {
	color: #13daec;
}
*/

#ui {
	background: rgba(0,0,0,.75);
	width: 224px;
	height: 100%;
	padding: 0 16px;
	position: relative;
	z-index: 10;
	border-right: 1px solid #666;
	/*box-shadow: inset -10px 0 5px -5px hsla(0,0%,0%,.45);*/
}

div.image {
	position: relative;
	background: rgba(0,0,0,.35);
	border: 1px solid #333;
	height: 136px;
}

#original {
	position: absolute;

	height: 112px;
	width: 200px;
	max-width: 200px;
	max-height: 112px;

	top: 50%;
	left: 50%;

	margin-left: -100px;
	margin-top: -56px;	
}

#webcam {
	position: absolute;

	top: 50%;
	left: 50%;

	margin-left: -100px;
	margin-top: -56px;	
	
	z-index:10;
	display:none;
}

#webcamFeed {

	max-width: 320px;
	border: 1px solid #333;
}

#samples {
	display: none;
	width: 532px;
}

#samples img {
	cursor: pointer;
	margin: 0;
	padding: 0;
	float:left;
	margin: 4px;
}

#kmeans {
	position: absolute;
	
	height: 112px;
	width: 200px;
	max-width: 200px;
	max-height: 112px;

	top: 50%;
	left: 50%;

	margin-left: -100px;
	margin-top: -56px;	
}	

label {
	margin:0;
	font-size: .65em;
	text-transform: uppercase;
	color: #999;
}

.panel label {
	display: block;
	font-size: .85em;
	margin-bottom: 8px;
}

.button {
	box-sizing: border-box;
	color: #999;
	display: block;
	background: rgba(0,0,0,.55);	
	border: 1px solid #333;	
	text-align: left;
	font-size: .85em;
	margin-bottom: 4px;
	cursor: pointer;
	padding-left: 32px;
	text-transform: uppercase;
}

.button:hover {
	background: #13daec;
	color: #000;
}

.button:active {
	background: #fff;
	color: #000;
}

#footer {
	width: 224px;
	position: absolute;
	bottom: 24px;
	font-size: .65em;
	text-transform: uppercase;
	text-align: center;
	color: #666;
	z-index: -10;
}

#footer a {
	color: #666;
}

#render {
	position: fixed;
	background: #000;
	top: 0;
	right: 0;
	left: 256px;
	bottom: 0;
	z-index: 0;
	min-width: 640px;
}

#render.full {
	left: 0;
	z-index: 20;
}

div.panel {
	display: none;
	position: absolute;
	background: rgba(0,0,0,.85);
	padding: 24px;
	border: 1px solid #666;	
	font-size:1em;	
	z-index: 30;
}

div.panel span {
	text-transform: uppercase;
	font-size: .85em;
}

.close {
	position:absolute;
	cursor:pointer;
	right:-4px;
	top:-4px;
	background: url('../assets/close.png');
	width: 32px;
	height: 32px;
}

#info {
	display: none;
	width: 430px;
}

#chooseImage {
	display: none;
	width: 256px;
}

#error {

	display: none;
	text-align: center;
	width: 500px;
	height: 48px;
	margin-top: 50%;
	margin-left: 50%;
	left: -264px;
	top: -48px;
}
