html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #111;
	color: #ccc;

	font-family: "Lato", "Helvetica Neue", "Hevetcia" sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;	
}

a {
	color: #08d5e7;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h1 {
	color: #13daec;
	font-size: 1.6em;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 24px;
}


#main {
	width: 100%;
	height: 100%;
}

#ui {
	background: #111;
	background-image: url('../assets/dvsup.png');
	width: 224px;
	height: 100%;
	padding: 0 16px;
	position: relative;
	z-index: 10;
	border-right: 1px solid #666;
	/*box-shadow: inset -10px 0 5px -5px hsla(0,0%,0%,.45);*/
}

div.image {
	position: relative;
	background: rgba(0,0,0,.35);
	border: 1px solid #333;
	height: 136px;
}

#original {
	position: absolute;

	height: 112px;
	width: 200px;
	max-width: 200px;
	max-height: 112px;

	margin-top: 50%;
	margin-left: 50%;

	left: -100px;
	top: -56px;	
}

#webcam {
	position: absolute;

	height: 112px;
	width: 200px;
	max-width: 200px;
	max-height: 112px;

	margin-top: 50%;
	margin-left: 50%;

	left: -100px;
	top: -56px;	
	z-index:10;
	display:none;
}

#kmeans {
	position: absolute;
	
	height: 112px;
	width: 200px;
	max-width: 200px;
	max-height: 112px;

	margin-top: 50%;
	margin-left: 50%;

	left: -100px;
	top: -56px;	
}	

label {
	margin:0;
	font-size: .65em;
	text-transform: uppercase;
	color: #999;
}

.button {
	color: #999;
	display: block;
	background: rgba(0,0,0,.35);	
	width: 224px;	
	border: 1px solid #333;	
	text-align: center;
	font-size: .9em;
	margin-bottom: 4px;
	cursor: pointer;
}

.button:hover {
	background: rgba(32,32,32,1);
	color: #ccc;
}

.button:active {
	background: #444;
	color: #fff;
}

#footer {
	width: 224px;
	position: absolute;
	bottom: 24px;
	font-size: .65em;
	text-transform: uppercase;
	text-align: center;
	color: #666;
	z-index: -10;
}

#footer a {
	color: #666;
}

#render {
	position: fixed;
	background: #000;
	top: 0;
	right: 0;
	left: 256px;
	bottom: 0;
	z-index: 0;
}

#render.full {
	left: 0;
	z-index: 20;
}

div.panel {
	position: absolute;
	background: rgba(24,24,24,.90);
	padding: 24px;
	border: 1px solid #333;	
	font-size:1em;	
	z-index: 30;
}

#close {
	position:absolute;
	cursor:pointer;
	right:0;
	top:0;
	background: url('../assets/close.png');
	width: 32px;
	height: 32px;
}

#info {
	display: none;
	width: 420px;
}

#welcome {
	display: none;
	text-transform: uppercase;
	text-align: center;
	width: 360px;
}

#error {

	display: none;
	text-align: center;
	width: 500px;
	height: 48px;
	margin-top: 50%;
	margin-left: 50%;
	left: -264px;
	top: -48px;
}
